{{#if isFormShowing }}
  <h4>Question Form</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="content">Question</label>
        {{input value=content id="content"}}
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        {{input value=notes id="notes"}}
      </div>
      <button {{action 'saveQuestion'}}>Ask!</button>
    </form>
  </div>
{{else}}
  <button {{action 'showQuestionForm'}}>Ask a Question</button>
{{/if}}
