{{#if isFormShowing }}
  <h4 id="question-form-heading"{{action 'hideQuestionForm'}}>Question Form</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label><br>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="content">Question</label><br>
        {{textarea value=content id="content"}}
      </div>
      <div class="form-group">
        <label for="notes">Notes</label><br>
        {{textarea value=notes id="notes"}}
      </div>
      <button class="btn btn-success" {{action 'saveQuestion'}}>Ask!</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-default form-trigger" {{action 'showQuestionForm'}}>Ask a Question</button>
{{/if}}
